@font-face {
    font-family: 'arial_geo';
    src: url('../fonts/arial_geo.ttf');
}
@font-face {
    font-family: 'NotoSansGeorgian-Condensed';
    src: url('../fonts/NotoSansGeorgian-Condensed.ttf');
}
@font-face {
    font-family: 'NotoSansGeorgian-Regular';
    src: url('../fonts/NotoSansGeorgian-Regular.ttf');
}
@font-face {
    font-family: 'NotoSerifGeorgian';
    src: url('../fonts/NotoSerifGeorgian-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Regular_1';
    src: url('../fonts/Roboto-Regular_1.ttf');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
}