// Color variables

$white: #fff;
$darkblue: #2C3D4E;
$blue: #00B5E1;
$navyBlue: #334454;
$gray: #BDBDBD;
$darkGray: #292929;
$lightGray: #CCCCCC;

// Fonts 

$roboto: 'Roboto-Regular_1';
$myriad: 'MyriadPro-Regular';


$arialGeo: 'arial_geo';
$notoSerifGeorgian: 'NotoSerifGeorgian';
$notoSansGeorgianRegular: 'NotoSansGeorgian-Regular';
$notoSansGeorgianCondensed: 'NotoSansGeorgian-Condensed';