@import 'reset';
@import 'fonts';
@import 'vars';
@import 'rating';

// mainHeader Styles
header.mainHeader {
    width: 100%;
    height: 95px;
    background: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.myContainer {
    max-width: 1100px;
    margin: 0 auto;
    height: 95px;
}
.fixed-header {
  background: $white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform .3s;
  box-shadow: 0 0 2px rgba(0,0,0, .5);
}
.header-appear {
  transform: translateY(0);
}
.miniContainer {
    max-width: 1100px;
    margin: 0 auto;
    height: 60px;
}
.flexBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.brandName {
    font-family: $roboto;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: $blue;
}
nav.headerNav {
    width: 490px;
}
ul.headerNav-ul {

}
ul.headerNav-ul li {

}
a.headerNav-a, .loginBox p {
    font-family: $notoSerifGeorgian;
    font-size: 18px;
    color: $darkGray;
}
a.headerNav-a.active {
    color: $lightGray;
}
.searchProfile {
    width: 164px;
}
.searchBox img {
    display: block;
    cursor: pointer;
}
img.hiddenCloseImg {
    display: none;
}
.closeImg {
    width: 22px;
    height: 22px;
}
// fixedHeader

img.hiddenCloseImg_fixed {
    display: none;
}
form.hiddensearchBox_fixed {
    position: absolute;
    right: 30px;
    top: 65px;
    width: 230px;
    height: 45px;
    z-index: 1000;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
form.hiddensearchBox_fixed.hiddenForm_fixed {
    visibility: hidden;
    opacity: 0;
    top: 115px;
}

form.hiddensearchBox_fixed input {
    width: 230px;
    height: 45px;
    border: none;
    padding: 0 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .5);
}
button#hiddenBtn_fixed {
    position: absolute;
    top: 12px;
    right: 5px;
    cursor: pointer;
    background-color: $white;
    padding: initial;
    border: initial;
    border-width: initial;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
// End fixed Header
form.hiddensearchBox {
    position: absolute;
    right: 30px;
    top: 100px;
    width: 230px;
    height: 45px;
    z-index: 1000;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
form.hiddensearchBox.hiddenForm {
    visibility: hidden;
    opacity: 0;
    top: 150px;
}

form.hiddensearchBox input {
    width: 230px;
    height: 45px;
    border: none;
    padding: 0 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .5);
}

button#hiddenBtn {
    position: absolute;
    top: 12px;
    right: 5px;
    cursor: pointer;
    background-color: $white;
    padding: initial;
    border: initial;
    border-width: initial;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
button#hiddenBtn img {
    width: 27px;
    height: 19px;
}
.loginBox {

}
.loginBox p {
    color: $blue;
    cursor: pointer;
}

// Slider Styles

html, body {
    background: $white;
    position:absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jssorSliderWrapper {
    position:relative;
    top:0;
    left:0;
    width:100%;
    // height: 100%;
    height: calc(100% - 95px);
    overflow:hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
#jssor_1 {
    position:relative;
    top:0px;
    left:0px;
    width:960px;
    height:640px;
    overflow:hidden;
    visibility:hidden;
}
/*jssor slider loading skin spin css*/
.jssorl-009-spin {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}
.jssorl-009-spin img {
    margin-top:-19px;
    position:relative;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    width:38px;
    height:38px;
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.jssorImgWrapper {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:960px;
    height:640px;
    overflow:hidden;
}
.jssorTitleText {
    font-family: $notoSansGeorgianRegular;
    position:absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    color: $white;
}
.jssorTitle-h1 {
    text-align: center;
    font-size: 28px;
    width: 80%;
    margin: 0 auto;
}
.jssorTitle-h3 {
    font-size: 18px;
    width: 50%;
    margin: 40px auto 50px;
}
.more-wrapper {
    position: relative;
    z-index: 10;
    width: 80px;
    height: 26px;
    margin: 0 auto;
    border-radius: 10px;
}
.more {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    text-align: center;
    padding: 7px 0;
    font-family: $notoSansGeorgianCondensed;
    font-size: 12px;
    width: 80px;
	background: $blue;
    color: $white;
    transition: background .3s, color .3s;
    border-radius: 10px;
}
.left-shadow {
    display: block;
    width: 40px;
    height: 10px;
    background: transparent;
    position: absolute;
    left: -1px;
    bottom: 13px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    transform: rotate(-8deg);
    z-index: -11;
}
.right-shadow {
    display: block;
    width: 40px;
    height: 10px;
    background: transparent;
    position: absolute;
    right: -1px;
    bottom: 13px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    transform: rotate(8deg);
    z-index: -11;
}
// .effect {
//     position: relative;
// }
// .effect:before, .effect:after {
//     position: absolute;
//     z-index: 1;
//     content: '';
//     bottom: 10px;
//     left: 0;
//     width: 50%;
//     top: 0%;
//     max-width:100px;
//     background: transparent;
//     box-shadow: 0 15px 10px rgba(0, 0, 0, 1);
//     transform: rotate(-5deg);
//     border-radius: 10px;
// }
// .effect:after { 
//     transform: rotate(5deg);
//     right: 0;
//     left: auto;
// }
.more:hover {
    background: $white;
    color: $darkblue;
}
/*jssor slider bullet skin 064 css*/
.jssorb064 {
    position:absolute;
}
.jssorb064 .i {
    position:absolute;
    cursor:pointer;
}
.jssorb064 .i .b {
    fill: $white;
    fill-opacity:.5;
    stroke:$white;
    stroke-width:400;
    stroke-miterlimit:10;
    stroke-opacity:0.5;
}
.jssorb064 .i:hover .b {
    fill-opacity:.8;
}
.jssorb064 .iav .b {
    fill: $white;
    fill-opacity:1;
    stroke:$white;
    stroke-opacity:.7;
    stroke-width:2000;
}
.jssorb064 .iav:hover .b {
    // fill-opacity:.6;
    fill: $white;
    stroke:$white;
}
.jssorb064 .i.idn {
    opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
    display:block;
    position:absolute;
    cursor:pointer;
    display: flex!important;
    justify-content:center;
    align-items:center;
    background: $white;
}
.jssora051 .a {
    fill:none;
    stroke:$white;
    stroke-width:360;
    stroke-miterlimit:10;
}
.jssora051:hover {
    opacity:.8;
}
.jssora051.jssora051dn {
    opacity:.5;
}
.jssora051.jssora051ds {
    opacity:.3;
    pointer-events:none;
}

// categorySlider

.categorySlider {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
    background: $white;
}
.owl-category {
    background: $white;
    height: 110px;
    max-width: 1100px;
    margin: 0 auto;
}
.item {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.category-link {
    display: inline-block;
    height: 110px;
}
.category-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 80px;
    background-color: $blue;
    transform: translateX(-50%) scaleX(0);
    transition: all 0.3s ease-in-out;
}
.category-link:hover:after, .category-link.active-link:after {
    transform: translateX(-50%) scaleX(1);
}
.item img.owl-category-img {
    width:45px !important;
    height: 45px !important;
    margin: 15px auto;
}
span.owl-play {
    font-family: $roboto;
    font-size: 18px;
    color: $lightGray;
    text-align: center;
    text-transform: capitalize;
    display: block;
    letter-spacing: 1px;
}
.owl-dots {
    display: none;
}
// Random Category

.random {
    background: $white;
    padding: 80px 0;
}
.title-h1 {
    font-family: $notoSansGeorgianRegular;
    font-size: 24px;
    color: $darkblue;
    text-align: center;
}
.title-h2 {
    font-family: $notoSansGeorgianRegular;
    font-size: 24px;
    color: $gray;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}
// categoryBox

.categoryBox {
    max-width: 340px;
    height: 400px;
    background: $white;
    box-shadow: 2px 2px 5px rgba(0,0,0, .5);
    margin: 0 auto 35px;
    padding: 8px 8px 18px;
}
.ImgWrapper {
    position: relative;
    max-width: 324px;
    max-height: 190px;
    overflow: hidden;
}
.categoryBoxImg {
    display: block;
    width: 100%;
    transform: scale(1);
    transition: transform .3s;
}
.ImgWrapper:hover .categoryBoxImg {
    transform: scale(1.1);
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 181, 225, 0);
    transition: background .3s;
}
.ImgWrapper:hover .overlay {
    background: rgba(0, 181, 225, .3);
}
.userActions {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.rating-widget {

}
.heart #favorite {
    fill:#BDBDBD;
}
.heart.active #favorite {
    fill:#DA4336;
}
.heartSVG {
    pointer-events: none;
    width: 24px;
    height: 24px;
    display: block;
}
.catInfoWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.catName, .catDate {
    font-family: $roboto;
    color: $gray;
    font-size: 12px;
}
.articleWrapper {

}
.categoryBox:hover .articleTitle {
    color: $blue;
}
.articleTitle {
    display: inline-block;
    font-family: $notoSansGeorgianRegular;
    font-size: 16px;
    color: $navyBlue;
    padding: 20px 0 14px;
    transition: color .3s;
}
.articleText {
    font-family: $arialGeo;
    font-size: 12px;
    color: $navyBlue;
    margin-bottom: 20px;
    line-height: 14px;
}
.author {
    font-family: $roboto;
    font-size: 12px;
    color: $gray;
}

.lastAdded {
    background: url(../img/bg.jpg) repeat;
    padding: 40px 0 140px;
}
.whiteSpace {
    height: 95px;
    background: $white;
}
footer {
    height: 125px;
    background: $darkblue;
}
.footer-p {
    height: 125px;
    line-height: 120px;
    text-align: center;
}
.footer-p > a {
    font-family: $roboto;
    font-size: 24px;
    color: $white;
    text-transform: capitalize;
}
.flexLeft {
    display: flex;
    align-items: center;
}
a.facebook {
    display: inline-block;
    width: 27px;
    height: 27px;
}
.facebookIcon {
    display: block;
    width: 27px;
    height: 27px;
}
/* ======================= Log-in Modal ============================ */
.login-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 1000;
    overflow: hidden;
    display: none;
}
.show-login-modal {
    display: block;
}
.log-in {
    width: 600px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.far.fa-window-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #005A9B;
    font-size: 20px;
    cursor: pointer;
}
.log-in-h1 {
    font-family: $notoSansGeorgianRegular;
    text-align: center;
    font-size: 30px;
    color: #005A9B;
    padding: 85px 0 80px;
    letter-spacing: 1px;
}
.enter-wrapper {
    width: 205px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #fff;
}
a.enter-facebook {
    width: 62px;
    height: 55px;
    background: #005A9B;
    position: relative;
}
a.enter-facebook > i.fab.fa-facebook-f {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 48px;
    color: #fff;
}
.enter {
    font-family: $notoSansGeorgianRegular;
    background: #005A9B;
    color: #fff;
    width: 100%;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    width: 142px;
    letter-spacing: 1px;
}
.my-profile-wrapper {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background: lightgray;
}
.my-profile-img {
    display: block;
}

@import 'about';
@import 'articles';
@import 'article';
@import 'quest';
